 <div class="super-container">
 <div class="croix">
    <%= link_to 'X', gamingsession_path(cookies[:gamingsession_id]) %>
  </div>
  <div class="title-signup">

  </div>
   <div  class="logo-signup">
  </div>

  <div class="container-formu-up">
    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
        data: {turbo: false}) do |f| %>
        <div class="formulaire">
          <div class="form-inputs">
            <p class="label-fr">Prénom :</p>
              <%= f.input :first_name, label: false, placeholder: "Toto" %>
            <p class="label-fr">Nom :</p>
              <%= f.input :last_name, label: false, placeholder: "Titi" %>
            <p class="label-fr">E-mail :</p>
              <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, label: false, placeholder: "toto@toto.com" %>

              <p class="label-fr">Mot de passe :</p>
                <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "new-password" }, label: false,placeholder: "mot de passe"  %>
            <p class="label-fr">Confirmation du mot de passe :</p>
              <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" }, label: false,placeholder: "mot de passe"  %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Créé mon compte" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
