<div class="container-tip">
  <div class="title-tip">
    <h1>Le conseil Vel-Watt du jour</h1>
  </div>

  <!--Conseil du jour-->
  <div class="tip-card">
    <div class="Ampoule">
    </div>
    <div class="info-tip">
      <div class="Subject_tip">
        <h2>Eteindre les veilles</h2>
      </div>
      <div class="tip-description">
        <p>Le bon geste : utiliser des multiprises à interrupteur qui permettent de brancher plusuers appareils et de les éteindre tous en même temps.</p>
      </div>
    </div>
  </div>

  <!--Explication Avantage-->
  <div class="title-avantage">
    <h2>Les avantages Vel-Watt</h2>
  </div>

  <div class="avantages-explication">
    <p>C’est ici que vous pouvez voir les offres négociées spécialement pour vous chez nos partenaires et échanger vos points Vell-Watt ( VW ) contre des bons de réductions !</p>
  </div>

    <!--Argent Wallet-->
  <div class="score_bloc">
    <% if current_user.wallet == nil  %>
      <h2>Votre solde : 0 VW</h2>
    <% else %>
    <div class="argent">
    </div>
    <div>
      <p>Votre solde</p>
    </div>
    <div>
      <h2><%= current_user.wallet %> VW</h2>
    </div>
    <% end %>
  </div>

  <!--partenaires-->
  <div class="Partenaires">
  <h2>Nos partenaires</h2>
  </div>
  <div class="scroll-avantage-card">
    <div class="carte-avantage">
      <div class="coupon-type">
        <div class="code-promo">
          <p><%= Ticket.first.price %> VW</p>
        </div>
      </div>
      <div class="background-marque"></div>
      <div class="carte-marque">
        <div class="marque-logo">
        <p></p>
        </div>
        <div class="marque-info">
          <div class="marque-name">
          <p><%= Ticket.first.company %></p>
          </div>
          <div class="marque-price">
          <p><%= Ticket.first.content %></p>
          </div>
        </div>
        <div class="plus">
          <%= link_to ticket_purchases_path(Ticket.first.id), data:{turbo_method: :post} do %>
            <i class="fa-solid fa-plus fa-xl plus-vert"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carte-avantage">
      <div class="coupon-type">
        <div class="code-promo">
          <p><%= Ticket.last.price %> VW</p>
        </div>
      </div>
      <div class="background-marque-tree">
        <div class="carte-marque">
          <div class="marque-logo-tree">
          <p></p>
          </div>
          <div class="marque-info">
            <div class="marque-name">
            <p><%= Ticket.last.company %></p>
            </div>
            <div class="marque-price">
            <p><%= Ticket.last.content %></p>
            </div>
          </div>
          <div class="plus">
            <%= link_to ticket_purchases_path(Ticket.last.id), data:{turbo_method: :post} do %>
              <i class="fa-solid fa-plus fa-xl plus-vert"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carte-avantage">
      <div class="carte-soon">
        <div class="rocket">
        </div>
        <div>
        <h2>Coming</h2>
        <p>De nouveaux partenariats à venir !</p>
        <p>Stay tuned !</p>
        </div>
      </div>
    </div>
  </div>

    <!--Coupons Purchased-->
  <div class="coupons_title">
    <h2>Vos coupons</h2>
  </div>
  <div class="scroll-coupons-cards">
    <% if Purchase.where(user: current_user) == [] %>
        <p>Vous n'avez aucun bon actuellement</p>
    <% else %>
      <% Purchase.where(user: current_user).each do |p| %>
        <div class="coupons-card">
          <div class="coupon-marque">
          <p><%= p.ticket.company %></p>
          </div>
          <div class="coupon-contenu">
          <p><%= p.ticket.content %> avec le code :</p>
          </div>
          <div data-controller="coupon"class="coupon-code">
          <p data-coupon-target="coupons" data-action="click->coupons#coupon-code" >X <%= 8.times.map{rand(10)}.join("") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "pages/menu" %>
<div class="XXXX"></div>
