<div class="container-tip">
  <div class="title-tip">
    <h2>Le conseil Vel-Watt du jour</h2>
  </div>
  <div class="tip-card">
    <div class="Ampoule">
    </div>
    <div class="info-tip">
      <div class="Subject_tip">
        <h2>Eteindre les veilles</h2>
      </div>
      <div class="tip-description">
        <p>Le bon geste : utiliser des multiprises à interrupteur qui permettent de brancher plusuers appareils et de les éteindre tous en même temps.</p>
      </div>
    </div>
  </div>
  <div>
    <h2>Les avantages Vel-Watt</h2>
  </div>
  <div class="avantages-explication">
    <p>C’est ici que vous pouvez voir les offres négociées spécialement pour vous chez nos partenaires et échanger vos points Vell-Watt ( VW ) contre des bons de réductions !</p>
  </div>


  <div>
      <% if current_user.wallet == nil  %>
        <h2>Votre solde : 0 VW</h2>
      <% else %>
        <h2>Votre solde : <%=current_user.wallet %> VW</h2>
      <% end %>
  </div>
  <div  class="sessions-container">
    <div class = "tab-title">
      <div class="Enseigne">
      <p>Marque</p>
      </div>
      <div class="Content">
        <p>Description</p>
      </div>
      <div class="Statut">
        <p>Statut</p>
      </div>
      <div class="Code">
        <p>Code</p>
      </div>
    </div>
    <% if Purchase.where(user: current_user) == [] %>
        <p>Vous n'avez aucun bon actuellement</p>
    <% else %>
      <% Purchase.where(user: current_user).each do |p| %>
        <div class="tab">
          <div class="Enseigne">
            <p><%= p.ticket.company %></p>
          </div>
          <div class="Content">
            <p><%= p.ticket.content %></p>
          </div>
          <div class="Statut">
            <p>Valable</p>
          </div>
          <div class="Code">
            <p>X <%= 8.times.map{rand(10)}.join("") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="scroll-card">
    <div class="carte-avantage">

      <div class="coupon-type">
        <div class="code-promo">
          <p><%= Ticket.first.price %> VW</p>
        </div>
      </div>
      <div class="background-marque"></div>
      <div class="carte-marque">
        <div class="marque-logo">
        <p></p>
        </div>
        <div class="marque-info">
          <div class="marque-name">
          <p><%= Ticket.first.company %></p>
          </div>
          <div class="marque-price">
          <p><%= Ticket.first.content %></p>
          </div>
        </div>

      </div>
      <p><%#= link_to "Obtenir", ticket_purchases_path(Ticket.last.id), data:{turbo_method: :post}, class: "buy-button" %></p>

    </div>

    <div class="carte-avantage">

      <div class="coupon-type">
        <div class="code-promo">
          <p><%= Ticket.last.price %> VW</p>
        </div>
      </div>
      <div class="background-marque-tree">
        <div class="carte-marque">
          <div class="marque-logo-tree">
          <p></p>
          </div>
          <div class="marque-info">
            <div class="marque-name">
            <p><%= Ticket.last.company %></p>
            </div>
            <div class="marque-price">
            <p><%= Ticket.last.content %></p>
            </div>
          </div>
        </div>
      </div>
      <p><%#= link_to "Obtenir", ticket_purchases_path(Ticket.last.id), data:{turbo_method: :post}, class: "buy-button" %></p>

    </div>

</div>

<%= render "pages/menu" %>
<div class="XXXX"></div>
