<div class="container">
  <div class="salute">
    <h1>Bonjour  <%= current_user.first_name %></h1>
    <p> Tu retrouveras sur cette page toutes les informations te concernant.
  </div>
  <div class="wallet_bloc">
    <div class="trophy">
    </div>
    <div>
      <p>Total de points</p>
    </div>
    <div>
      <h2><%= @solde %> pts</h2>
    </div>
  </div>
  <div class="score_bloc">
    <div class="argent">
    </div>
    <div>
      <p>Ton solde</p>
    </div>
    <div>
      <h2><%= current_user.wallet %> VW</h2>
    </div>
  </div>
  <div class="bloc-container">
    <div class="prod_bloc">
      <div class="eclair">
      </div>
      <div>
        <p>Tu as produit</p>
        <h2><%= (@total_watt).round(2)%> Wh</h2>
      </div>
    </div>

    <div class="time_bloc">
      <div class="chrono">
      </div>
      <div>
        <p>Temps passé : </p>
        <h2><%= @total_time%> min</h2>
      </div>
    </div>
  </div>
  <div class="kWh">
  <h2>Le saviez-vous ? <br>Avec 1000 Wh on peut :</h2>
  </div>
  <div class="explication">
    <div class="liste">
      <p>Allumer une ampoule led pendant 143 h</p>
      <p>Rouler avec une Renault électrique Zoé pendant 8,5 km</p>
      <p>Faire fonctionner une tireuse à bières pendant 45 min</p>
    </div>
    <div class="arrow-container">
      <div class="arrow1"></div>
      <div class="arrow2"></div>
      <div class="arrow3"></div>
    </div>
  </div>
    <div class="prod-vs">
    <h2>Ta production VS la réalité</h2>
    </div>
  <div class="reel-vs-prod">
    <div class="card-reel">
      <span class="iconify" data-icon="ic:outline-smartphone"></span>

      <p>Tu as produit de quoi recharger un smartphone pendant <span class="text-result"><%=(@total_watt/0.30).round(1) %>&nbsp;&nbsp;h</span> </p>
    </div>

    <div class="card-reel">
    <span class="iconify" data-icon="mdi:washing-machine"></span>

      <p>Tu as produit <span class="text-result"><%=((@total_watt/1000.0)*100).round(1) %> %</span> de l'énergie necéssaire au cycle d'une machine à laver </p>
    </div>
    <div class="card-reel">
    <span class="iconify" data-icon="bxs:fridge"></span>

      <p>Tu as produit de quoi faire fonctionner un refrigerateur pendant <span class="text-result"><%=(@total_watt/(548.0/24)).round(1)%>&nbsp;&nbsp;h</span> </p>
    </div>
    <div class="card-reel">
    <span class="iconify" data-icon="mdi:eiffel-tower"></span>

      <p>Tu as produit <span class="text-result"><%=((@total_watt/21095000.0)*100).round(4)%> %</span> de la consommation de la Tour Eiffel pour une journée </p>
    </div>
  </div>

</div>

<%= render "pages/menu"%>
