<div class="container">
  <div class="salute">
    <h1>Bonjour  <%= current_user.first_name %></h1>
    <p> Vous retrouverez sur cette page toutes les informations vous concernant!
    <br>
    <br>Vous pourrez même apprendre ce qu'est 1KWh et à quoi cela correspond.
    <br>
    <br>Enjoy !</p>
  </div>
  <div class="wallet_bloc">
    <div class="trophy">
    </div>
    <div>
      <h2>Votre solde</h2>
    </div>
    <div>
      <h2><%= @solde %> points  <%= current_user.wallet %> VW</h2>
    </div>
  </div>
  <div class="score_bloc">
    <div class="argent">
    </div>
    <div>
      <p>Votre solde</p>
    </div>
    <div>
      <h2><%= current_user.wallet %> VW</h2>
    </div>
  </div>
  <div class="bloc-container">
    <div class="prod_bloc">
      <div class="eclair">
      </div>
      <div>
        <p>Électricité produite</p>
        <h2><%= @total_watt%>Wh</h2>
      </div>
    </div>

    <div class="time_bloc">
      <div class="chrono">
      </div>
      <div>
        <p>Temps passé : </p>
        <h2><%= @total_time%>minutes</h2>
      </div>
    </div>
  </div>

  <h2>Que faire avec 1kWh</h2>
  <div class="explication">
    <div class="liste">
      <p>Allumer une ampoule led pendant 143h</p>
      <p>Rouler avec une Renault électrique Zoé pendant 8,5km</p>
      <p>Faire fonctionner une tireuse pendant 45mn</p>
    </div>
  </div>

    <h2>Ma production VS Réalité</h2>
  <div class="reel-vs-prod">
    <div class="card-reel">
      <span class="iconify" data-icon="ic:outline-smartphone"></span>

      <p>Vous avez produit de quoi recharger <span class="text-result"><%=(@total_watt/0.30).round(1) %> fois</span>  un smartphone </p>
    </div>

    <div class="card-reel">
    <span class="iconify" data-icon="mdi:washing-machine"></span>

      <p>Vous avez produit <span class="text-result"><%=((@total_watt/1000.0)*100).round(1) %> %</span> de l'énergie necéssaire au cycle d'une machine à laver </p>
    </div>
    <div class="card-reel">
    <span class="iconify" data-icon="bxs:fridge"></span>

      <p>Vous avez produit de quoi faire fonctionner un refrigerateur pendant <span class="text-result"><%=(@total_watt/(548.0/24)).round(1)%> heure(s)</span> </p>
    </div>
    <div class="card-reel">
    <span class="iconify" data-icon="mdi:eiffel-tower"></span>

      <p>Vous avez produit <span class="text-result"><%=((@total_watt/21095000.0)*100).round(4)%> %</span> de la consommation de la Tour Eiffel pour une journée </p>
    </div>
  </div>

</div>






  <%# <div class="echelle-reelle">
    <div class="user-bike", style="margin-left:0px;"><span class="iconify" data-icon="ic:outline-directions-bike"></span>
    </div>
    <div class="echelle">
      <div class="gradient"></div>
      <div class="echelons">
        <span class="iconify" data-icon="ic:baseline-smartphone", style="margin-left:25.3px;" ></span>
        <span class="iconify" data-icon="bi:pc-display-horizontal", style="margin-left:15.7px;"></span>
        <span class="iconify" data-icon="material-symbols:oven-gen", style="margin-left:53.3px;"></span>
        <span class="iconify" data-icon="akar-icons:wifi", style="margin-left:26.7px;"></span>
        <span class="iconify" data-icon="iconoir:washing-machine", style="margin-left:59.3px;"></span>
      </div>
    </div>
  </div> %>

<%= render "pages/menu"%>
<div class="XXXX"></div>
