<h1>Historique de vos sessions</h1>

<p><%= @gamingsessions.count %> sessions</p>


<% @gamingsessions.each do |gs| %>
  <p><%= gs.date%></p>
  <p>Prod max<%= gs.max_production%>Wh</p>
  <p>Prod total<%= gs.total_production%>wH</p>
  <p>Score<%= gs.score%></p>
<% end %>
