<div>
  <div >
    <h1>Historique de vos sessions</h1>
  </div>
  <div class="count-sessions">
    <div class="count">
      <h2><%= @gamingsessions.count %></h2>
    </div>
    <div class="sess">
      <p>sessions<p>
    </div>
  </div>
</div>

<div class="histo-container">
  <% @gamingsessions.each do |gs| %>
    <div class="histo-card">
      <div class="histo-text">
        <div class="date-div">
          <p class="date-text">Session du <span class="text-histo"><%= gs.date%></span></p>
        </div>

        <div class="number-div">
          <p>Production totale : <span class="text-histo"><%= gs.total_production%>Wh</span></p>
          <p>Score : <span class="text-histo"><%= gs.score%></span></p>
        </div>
      </div>
      <div class="see-session">
        <%= link_to gamingsession_path(gs.id) do %>
          <i class="fa-solid fa-bicycle"></i>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<%= render "pages/menu" %>
