<div  class="menu-container">
  <div class="icone-menu">
      <%= link_to totaux_path do %>
        <i class="fa-solid fa-chart-line fa-xl <%= "prod" if request.path == "/totaux" %>"></i>
        <p class="<%= "prod" if request.path == "/totaux" %>">Résultats</p>
      <% end %>

      <%= link_to historique_path do %>
        <i class="fa-solid fa-clock-rotate-left fa-xl <%= "prod" if request.path == "/historique" %>"></i>
        <p class="<%= "prod" if request.path == "/historique" %>">Historique</p>
      <% end %>

      <%= link_to advantages_path do %>
        <i class="fa-solid fa-euro-sign fa-xl <%= "prod" if request.path == "/advantages" %>"></i>
        <p class="<%= "prod" if request.path == "/advantages" %>">Réductions</p>
      <% end %>
  </div>
</div>
