<h1>Ma production</h1>

<%= current_user.first_name %>

<p>Solde des points :</p>
<p><%= @solde %></p>

<%#  wallet de l'user %>
<p>Wallet = <%=current_user.wallet %> V-W</p>

<%# cumul du temps de toutes les sessions %>
<p>Temps passé : </p>
<p><%= @total_time %> min</p>

<%# cumul de tous les Wh produits %>

<p>Electricité produite</p>
<p><%= @total_watt %>Wh</p>

<p>Explications</p>

<p><%= @total_watt %>Wh = <%= (@total_watt/1000.0).round(4) %> kWh</p>

<p> Que faire avec un 1kWH ?</p>
<p>Allumer une ampoule led pendant 143h</p>
<p>Rouler avec une Renault électrique Zoé pendant 8,5km</p>

<p>Ma production VS la réalité</p>

<p>Vous avez produit de quoi recharger <%=(@total_watt/0.30).round(1) %> fois d'un smartphone </p>

<p>Vous avez produit <%=((@total_watt/1000.0)*100).round(1) %> % de l'énergie necéssaire au cycle d'une machine à laver </p>

<p>Vous avez produit de quoi faire fonctionner un refrigerateur pendant <%=(@total_watt/(548.0/24)).round(1) %> heure(s) </p>

<p>Vous avez produit <%=((@total_watt/21095000.0)*100).round(4) %> % de la consommation de la Tour Eiffel pour une journée </p>
