<h1>Ma production</h1>

<%= current_user.first_name %>




<p>Solde des points :</p>
<% @solde = 0 %>
<% @gamingsessions.each do |gs| %>
  <% @solde += gs.score%>
<% end %>
<%= @solde %>

<% @achats = 0 %>

<p>Solde des achats</p>
<% until @purchases == nil  %>
  <% @purchases.all.each do |p| %>
    <% @achats += p.ticket.price%>
  <% end %>
<% end %>
<%= @achats %>

<p>Wallet = <%=current_user.wallet %> V-W</p>

<p>Temps passé : </p>
<% @total_time = 0 %>
<% @gamingsessions.each do |gs| %>
  <% @total_time += gs.session_duration%>
<% end %>
<p><%= @total_time = (@total_time/60) %> min</p>

<p>Electricité produite</p>

<% @total_watt = 0 %>
<% @gamingsessions.each do |gs| %>
  <% @total_watt += gs.total_production%>
<% end %>
<p><%= @total_watt %>Wh</p>

<p>Explications</p>

<p><%= @total_watt %>Wh = <%= (@total_watt/1000.0).round(4) %> kWh</p>

<p> Que faire avec un 1kWH ?</p>
<p>Allumer une ampoule led pendant 143h</p>
<p>Rouler avec une Renault électrique Zoé pendant 8,5km</p>

<p>Ma production VS la réalité</p>

<p>Vous avez produit de quoi recharger <%=(@total_watt/0.30).round(1) %> fois d'un smartphone </p>

<p>Vous avez produit <%=((@total_watt/1000.0)*100).round(1) %> % de l'énergie necéssaire au cycle d'une machine à laver </p>

<p>Vous avez produit de quoi faire fonctionner un refrigerateur pendant <%=(@total_watt/(548.0/24)).round(1) %> heure(s) </p>

<p>Vous avez produit <%=((@total_watt/21095000.0)*100).round(4) %> % de la consommation de la Tour Eiffel pour une journée </p>
