<%# logo %>
<%= image_tag 'groopsys.JPG', alt: 'icon', style: 'height:40px;width:auto' %>
<h1>Merci d'avoir utilisé Vel-Watt !</h1>

<%#  parti score %>
<p>Score :<%= @gamingsession.score %> points</p>

<p>Convertissez vos <%= @gamingsession.score %> points en avantages chez nos partenaires</p>

<%# lien vers le sign-up/sign-in %>
<%= link_to 'Sauvegarder mes points', new_user_session_path %>

<%# donnée du user vs les records %>
<p><%= @gamingsession.total_production %> W/h</p>
<p>Total production record <%= @totalprodsession[0]["total_production"] %> <i class="fa-solid fa-crown"></i></p>
<p><%= @gamingsession.max_production %> W/h</p>
<p>Max production record <%= @maxprodsession[0]["max_production"] %><i class="fa-solid fa-crown"></i> </p>

<P>QUIZZ</P>

<%# comparatif %>
<p>Comparons vos résultats au quotidien</p>

<p>Combien de tems devriez-vous pédaler pour charger/utiliser ces appareils ?</p>
<p>Cliquez sur l'image pour le découvrir</p>

<p>Réfrigérateur : 200kWh</p>
<p>votre production : <%= @gamingsession.total_production %> Wh</p>

<%# calcul de comparaison %>
<% @frigo = ((((548.0/(@gamingsession.total_production))*@gamingsession.session_duration)/60)/60).round(2) %>
<p> Pour alimenter le frigo pendant 1 journée vous auriez du pédaler pendant <%= @frigo %>h</p>
