<!DOCTYPE html>
<html>
  <head>
    <title>Vel-Watt</title>
    <link rel="icon" type="image/png" href="VW.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
